/*
global UI color palette
*/
:root {
     --primaryColor: #ef6c01;
     --secondaryColor: #bce4df;
     --backsplashColor: #f2f2f2;
     --dividerColor: rgba(191, 191, 191, 0.75);
     --accentTextColor: black;
     --expiredColor: red;
     --warningColor: #eaba1a;
     --notExpiredColor: #32CD32;
}

.fa-drumstick-bite, .fa-frown-open {
     border-radius: 100%;
     border: 3px solid black;
     padding: 0.5em;
     font-size: 2em;
     color: var(--primaryColor);
}

body, #banner, #one, #two, #three {
     background-image: none;
     background-color: white;
}

input[type="submit"] {
     background-color: var(--primaryColor);
     color: white;
}

#menu {
     background-color: rgba(0, 0, 0, 0.75);
     color: white;
}

#menu .links li a {
     color: white;
}

.close {
     color: black;
}

header {
     background-color: rgba(0, 0, 0, 0.75);
     color: white;
}

.alt a {
     color: black;
}

.alt li {
     cursor: pointer;
}

header a {
     color: white;
}

.section-icon {
     font-size: 4em;
     border: 3px solid black;
     padding: 0.5em;
     border-radius: 50%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"], select {
     background-color: var(--backsplashColor);
     margin-top: 15px;
}

#login-btn, .button {
     background-color: var(--primaryColor);
     margin-top: 15px;
     margin-bottom: 15px;
     color: white;
}

.message a:link, .message a:visited {
     color: var(--primaryColor);
}

.error {
     color:red;
}

.align-icon-left {
     float: left;
     margin-right: 10px;
     line-height: 1.5;
}

.align-text-right {
     float: right;
     margin: 0 0 0 0;
}

/* Expiration Circles for Items Page */
.expired {
     color: var(--expiredColor);
     float: right;
     top: 50%;
     line-height: 1.5;
}

.expired-warning {
     color: var(--warningColor);
     float: right;
     top: 50%;
     line-height: 1.5;
}

.not-expired {
     color: var(--notExpiredColor);
     float: right;
     top: 50%;
     line-height: 1.5;
}

/* Bottom Sticky Navigation Bar */
.navbar {
     background-color: white;
     overflow: hidden;
     position: fixed;
     bottom: 0;
     width: 100%;
     display: flex;
     flex-direction: row;
}
   
.navbar a {
     float: center;
     display: block;
     color: var(--accentTextColor);
     text-align: center;
     padding: 14px;
     text-decoration: none;
     font-size: 17px;
     justify-content: stretch;
     flex: 1;
}

.navbar a:hover {
     background-color: var(--secondaryColor);
     color: black;
}

.navbar a.active {
     background-color: var(--primaryColor);
     color: white;
}

.smaller-header {
     padding-top: 5%;
}

#filter-container {
     display: flex;
     justify-content: space-between;
     margin-bottom: 0.5em;
}

#filter-container > button.fit {
     width: 48%;
}

/* The switch - the box around the slider */
.switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
     float: right;
}

/* Hide default HTML checkbox */
.switch input {
     opacity: 0;
     width: 0;
     height: 0;
}

/* The slider */
.slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
}

.slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
}

input:checked + .slider {
     background-color: var(--secondaryColor);
}

input:focus + .slider {
     box-shadow: 0 0 1px var(--secondaryColor);
}

input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
     border-radius: 34px;
}

.slider.round:before {
     border-radius: 50%;
}

/* The Modal (background) */
.modal {
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
   
/* Modal Content/Box */
.modal-content {
     background-color: #fefefe;
     margin: 15% auto; /* 15% from the top and centered */
     padding: 30px;
     border: 1px solid #888;
     width: 80%; /* Could be more or less, depending on screen size */
}
   
/* The close Button */
.close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
     line-height: 1;
}

.close:hover,
.close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
}

#filter-by-list li, #sort-by-list li {
     padding-left: 10px;
}

.full-width {
     width: 100%;
}

.back-arrow {
     color: var(--primaryColor);
     font-size: 1.3em;
}

input.error {
     border-color: red;
}

/*
Leave this at the bottom of the page
*/

.hidden {
     display: none;
}

input[type="number"] {
     width: 100%;
     border: none;
}

/* -- quantity box -- */

.quantity {
     display: inline-block; 
}
    
.quantity .input-text.qty {
     padding: 0 5px;
     text-align: center;
     border: 1px solid #efefef;
}

.quantity.buttons_added {
     text-align: left;
     position: relative;
     white-space: nowrap;
     vertical-align: top; 
}

.quantity.buttons_added input {
     display: inline-block;
     margin: 0;
     vertical-align: middle;
     box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
     padding: 0px 15% 0px;
     background-color: #ffffff;
     border: 1px solid #efefef;
     cursor:pointer;
}
    
.quantity.buttons_added .minus {
     border-right: 0; 
}
    
.quantity.buttons_added .plus {
     border-left: 0; 
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
     background: #eeeeee; 
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
margin: 0; 
}
     
.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
outline: none; 
}
    
    